@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
  --color-1: #1a1a1a;
  --color-2: #202020;
  /*
  --dark-color-1: #1a1a1a; 
  --dark-color-2: #202020;  
  --light-color-1: #ffffff; 
  --light-color-2: #ececec;

  accents
  --#f66262: red
  --#25cfe5: blue
  --#682ce0: purple
  --#c76bdc: pink
  --#4cb426: green
  --#e18d16: orange

  */
  --text-color: #ffffff;
  --accent-color: #25cfe5;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 12pt;
  font-family: Poppins, sans-serif;
}

body {
  background-color: var(--color-2);
  padding: 80px 20px 20px 20px; /* Top padding for fixed header */
  width: 100%;
  min-height: 100vh; /* Ensure body takes full height */
  height: 100%;
  font-size: 1rem;
}

/* Styles for headers */
h2 {
  color: var(--text-color);
}