.modal-wrapper {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 20;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(4px);
  display: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--color-1);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  gap: 20px;
  color: var(--text-color);
  display: none;
}

.modal-header span {
  color: var(--accent-color);
}

.modal-controls {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

.modal-controls button, .edit-task-form .edit-task-form-controls button {
  background-color: var(--color-2);
  border: none;
  color: var(--text-color);
  padding: 6px 10px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1rem;
}

.modal-controls button:hover, .edit-task-form .edit-task-form-controls button:hover {
  transform: scale(1.05); /* Slight zoom effect */
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.2);
}

.edit-task-form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--color-1);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  gap: 20px;
  color: var(--text-color);
  display: none;
}

.edit-task-form .input-box {
  position: relative;
  width: 100%;
  height: 40px;
  border-bottom: 2px solid var(--color-2);
  margin: 20px 0;
}

.edit-task-form .input-box label {
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  color: var(--text-color);
  pointer-events: none;
  transition: .5s;
  font-weight: bold;
}

.edit-task-form .input-box input:focus~label,
.edit-task-form .input-box input:valid~label {
  top: -5px;
  color: var(--accent-color);
}

.edit-task-form .input-box input {
  width: 100%;
  height: 100%;
  padding-left: 5px;
  background: transparent;
  border: none;
  outline: none;
  font-family: 'Poppins', sans-serif;
  color: var(--text-color);
}

.edit-task-form .edit-task-form-controls {
  display: flex;
  justify-content: center;
  gap: 10px;
}